PyFunceble-dev>=3.3.7
PyYAML
alembic
colorama
cryptography
dnspython>=2.0.0
domain2idna
dos2unix
inflection
mariadb>=10.5
msttcorefonts
python-box[all]>=5.0.0
python-dotenv
python>=3.9
requests<3
setuptools
sqlalchemy
ultimate-hosts-blacklist-whitelist-dev
urllib3
wheel
